@model IEnumerable<SystemLibraryData.Appointment>

<div class="card mb-grid">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title">Appointment Info</div>
        <div class="text-center">

        </div>
        <nav class="card-header-actions">
            <a class="card-header-action dropdown">
                <i class="fa fa-calendar-plus-o btn text-info  dropdown-toggle" data-toggle="dropdown" style="padding:0;" id="chkByDate"></i>
                <ul class="dropdown-menu" style="padding: 25px;min-width: 200px;">
                    <li>
                        <div class="row">
                      
                            <input class="form-control col-12" type="date" placeholder="From..." style="border-radius: 0; padding-top:10px" id="ApDate1" />

                       
                            <input class="form-control col-12" type="date" placeholder="Until..." style="border-radius: 0; padding-top:10px" id="ApDate2" />

                            <button id="ChkAptBtn" style="padding-top:10px" onclick="CheckAptByDate()" class="btn btn-block btn-outline-info">Search</button>


                        </div>

                    </li>
                </ul>
            </a>
            <a class="card-header-action" data-toggle="collapse" href="#ApTableContainer" aria-expanded="false" aria-controls="ApTableContainer" title="Minimize">
                <i data-feather="minus-circle"></i>
            </a>
            <a title="Make an appointment" class="card-header-action" id="CreateApIcon">
                <i data-feather="plus-circle" title="Add New Appointment" style="color: royalblue"></i>
            </a>

        </nav>
    </div>
    <div class="table-responsive-md collapse show" id="ApTableContainer">
        <table class="table table-actions table-striped table-hover mb-0" id="ApTable" data-role="table">

            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.ChStatus)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody id="tbApList"></tbody>
        </table>

    </div>

</div>
