@model AppointmentProject.Models.AppointmentModel

<div class="card mb-grid">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title">Make Appointment</div>
        <nav class="card-header-actions">

            <a title="Create New" class="card-header-action" id="closeApIcon">
                <i data-feather="x-circle" title="Close"></i>
            </a>
        </nav>
    </div>

    <form id="createForm" class="ApForm" style="padding: 10px;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CNo" class="control-label"></label>
            <input asp-for="CNo" class="form-control" id="apfCNo" />
            <span asp-validation-for="CNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ApDate" class="control-label"></label>
            <input asp-for="ApDate" type="text" class="form-control" id="example" />
            <span asp-validation-for="ApDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DName" class="control-label"></label>

            <select class="selectpicker form-control" data-live-search="true" id="apfName">

                @{
                    foreach (var item in ViewBag.Doctor)
                    {
                        <option id="@item.DId" data-tokens="@item.DId-@item.DName">@item.DId-@item.DName</option>

                    }
                }

            </select>

            @*<datalist id="dNames">
                    @{
                        foreach (var item in ViewBag.Doctor)
                        {
                            <option  value="@item.DId-@item.DName"></option>

                        }
                    }
                </datalist>*@
            <span asp-validation-for="DName" class="text-danger"></span>
        </div>
        <div class="form-group">

            <label asp-for="ChFee" class="control-label"></label>
            <select class="form-control " id="apfFee"></select>

        </div>

        @*<datalist id="dFee">
                @{
                    foreach (var item in ViewBag.Doctor)
                    {
                        <option id="@item.DId" value="@item.DFee"></option>
                    }
                }
            </datalist>*@

        <span asp-validation-for="ChFee" class="text-danger"></span>

        <div class="form-group">
            <input type="button" onclick="MakeApt()" value="Create" class="btn btn-outline-primary" />
        </div>
    </form>

</div>
<script>

    $(document).ready(() => {

        LoadAppointmentData();
        LoadFee();
        $("#apfName").change(() => {
 
            LoadFee();
        });

        function LoadFee() {
            var name = $("#apfName").val();
            var split = name.split("-");
            var id = split[0];

            if (id != "") {

                var data = {

                    DId: id,

                };

                $.ajax({
                    type: "POST",
                    url: "/appointment/GetDocFee",
                    data: JSON.stringify(data),
                    contentType: "application/json",

                    success: function (ApList) {

                        var setData = $("#apfFee");
                        setData.empty();

                        for (var i = 0; i < ApList.length; i++) {

                            var option = new Option(ApList[i].FFee);

                            setData.append(option);



                        }
                    }
                });
            }
        }
    });

</script>

