@model IEnumerable<SystemLibraryData.Patient>

<div class="card mb-grid">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title">Patients Info</div>
        <nav class="card-header-actions">

            <a class="card-header-action" data-toggle="collapse" href="#card1" aria-expanded="false" aria-controls="card1" title="Minimize">
                <i data-feather="minus-circle"></i>
            </a>
            <a title="Create New" class="card-header-action" id="CreateNewIcon">
                <i data-feather="plus-circle" title="Add New Patient" style="color: royalblue"></i>
            </a>

        </nav>
    </div>
    <div class="table-responsive-md collapse show" id="card1">
        <table class="table table-actions table-striped table-hover mb-0" id="patientListTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PSex)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PTel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PDocumentNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CNo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbStudentList">

            </tbody>
        </table>
    </div>
</div>
